<%- include("partials/header.ejs") %>

<h1>Contact</h1>
<p>
  <%= startingContent %>
</p>

<div class="contact-container">
  <img class="location" src="icons/geo-alt-fill.svg" alt="location-icon">
  <p>Philippines</p>
</div>
  
<div class="contact-container">
  <img class="location" src="icons/telephone-fill.svg" alt="location-icon">
  <p>+639475470913</p>
</div>

<div class="contact-container">
  <img class="location" src="icons/envelope-at-fill.svg" alt="location-icon">
  <a href="mailto:kris.aguzar27@gmail.com">kris.aguzar27@gmail.com</a>
</div>

<%- include("partials/footer.ejs") %>
